* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: row;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
h1 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
  color: #FFFFFF;
  font-size: 70px;
  /*margin-right: 20px;
  margin-left: 20px;*/
}

section {
  width: 50%;
  min-height: 100vh;
  /*display: flex;
  flex-direction: row;*/
}

.leftside {
  justify-content: center;
  background-color: #455864;
  padding-top: 40px;
  /*display: flex;
  flex-direction: row;*/
}
.rightside {
  align-items: center;
  padding: 0px;
  background-color: #CFD8DC;
  /*overflow-y: scroll;*/
  /*display: flex;
  flex-direction: row;*/
}

/*this would display that the bookmark area is empty*/
.filler-text {
  font-size: 50px;
  color: #455864;
  text-align: center;
}

.filler-container {
}
/*
.leftmid{
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 7%;
  top: 20%;
}*/


/*.leftmid{
  position: absolute;
  left: 17%;
  top: 20%;
  }
}*/
.rightmid{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}


#linked {
  margin-right: 10px;
}

#list {
  margin-left: 10px;
}

#icon {
  width: 100px;
  height: 100px;
}
.input {
  display: block;
  width: 80%;
  height: 50px;
  margin: 50px auto;
  padding-left: 10px;
  color: #455A64;
  font-size: 25px;
  font-weight: 400;
  border: none;
}

.input:focus {
  outline-style: auto;
  outline-color: #455A64;
}

#enter-button:disabled {
  width: 80%;
  height: 40px;
  display: block;
  margin: 25px auto;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #FFD773;
  font-size: 15px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
}
#enter-button:hover {
  background-color: #FFD773;
}
#enter-button {
  background-color: #FFC107;
  color: #FFFFFF;
  width: 80%;
  height: 50px;
  display: block;
  margin: 25px auto;
  border: none;
  outline: none;
  font-size: 15px;
  text-align: center;
  letter-spacing: 1px;
}

h3{
  text-align: center;
}

.bookmarkqty{
  color: #FFFFFF;
  font-weight: 400;
  display: block;
  width: 80%;
  height: 40px;
  margin: 50px auto;
  padding-left: 10px;
}

/*CHANGED*/
.bookmarkbox {
  /*height: 100vh;*/
  height: 22%;
  min-height: 20%;
  width: 92%;
  margin-top: 4%;
  align-self: center;
  /*text-align: center;*/
  border: 3px solid #607D8B;
  background-color: #FFFFFF;
}

/*fix it*/
#bookmark-line-title {
  padding-left: 15px;
  padding-bottom: 5px;
  display: block;
  color: #455A64;
  font-size: 25px;
  letter-spacing: 1px;
  display: block;
  font-weight: 300px;
}

#bookmark-line-url{
  display: block;
  color: #607D8B;
  margin-left: 20px;
  text-decoration: underline #F2F4F4;
  font-weight: lighter;
}

hr {
  width: 93%;
  height: 2px;
  background: #CfD8DC;
  margin-top: 18px;
  margin-left: 17px;
  border: none;
}
#hrOne {
  margin-top: 0;
  margin-bottom: 20px;
}
.button, .read-button, .delete-button {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 30px;
  outline: none;
}
.read-button, .delete-button {
  display: inline-block;
  position: relative;
  color: #455A64;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  border: none;
  outline: none;
  padding-bottom: 0;
  background: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.delete-button {
  display: block;
  float: right;
  margin-right: 25px;
}
.read-button:hover {
  text-decoration-color: #FFC107;
  font-weight: 800;
}
.delete-button:hover{
  text-decoration-color: #FFC107;
}

.bookmarklinks{
  font-size: 20px;
  margin-left: 20px;
  color: #607D8B;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
}
.bookmarklinks:hover{
  text-decoration-color: #FFC107;
  font-weight: 800;
}
div.linkdiv{
  max-height: 100px;
  border-top: 1px solid #607D8B;
  border-bottom: 1px solid #607D8B;
  margin: auto;
}
/*hides bookmark on delete click*/
.deletebox{
  display: none;
}
.button{
    color: #455A64;
}
.read{
  background-color: #F2F4F4;
  color: #F05A28;
  text-decoration-color: none;
  font-weight: 800;
}
.readlink{
  text-decoration-color: #CFD8DC;
  font-weight: 400;
}


/*
@media (max-width: 1100px){
  body{
    flex-direction: column;
  }*/


  /*Media Queries*/


/*320px
480px
600px
768px
900px
1024px
1200px*/


@media screen and (max-width: 1200px) {
    #linked,
    #list {
      font-size: 70px;
    }
    .icon {
      height: 100px;
      width: 100px;
    }
  }

@media screen and (max-width: 1024px) {
    #linked,
    #list {
      font-size: 60px;
    }
    .icon {
      height: 50px;
      width: 50px;
    }
  }

@media screen and (max-width: 900px) {
    #linked,
    #list {
      font-size: 50px;
    }
    .icon {
      height: 40px;
      width: 40px;
    }
  }

@media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
    .leftside {
      width: 100%;
    }
    .rightside {
      width: 100%;
    }
    .input,
    .enter-button {
      height: 40px;
      width: 80%;
    }
  }

  @media screen
  and (max-width: 480px) {
    #linked,
    #list {
      font-size: 40px;
    }
    .icon {
      height: 10px;
      width: 10px;
    }
  }

  @media screen
  and (max-width: 320px){
    #linked,
    #list {
      font-size: 30px;
    }
    .icon {
        height: 20px;
        width: 20px;
    }
  }
